## Name: Raviraj Wagh

## Working with 'House price' Dataset

In [2]:
import numpy as np
import pandas as pd

In [3]:
data1=pd.read_csv(r"C:\Users\Parimal\Downloads\HousePrice.csv")
data1

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,Owner,0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0
1,Dealer,0,0,2,BHK,1275.000000,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0
2,Owner,0,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0
3,Owner,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5
4,Dealer,1,0,2,BHK,999.009247,0,1,"New Town,Kolkata",22.592200,88.484911,60.5
...,...,...,...,...,...,...,...,...,...,...,...,...
29446,Owner,0,0,3,BHK,2500.000000,1,1,"Shamshabad Road,Agra",27.140626,78.043277,45.0
29447,Owner,0,0,2,BHK,769.230769,1,1,"E3-108, Lake View Recidency,,Vapi",39.945409,-86.150721,16.0
29448,Dealer,0,0,2,BHK,1022.641509,1,1,"Ajmer Road,Jaipur",26.928785,75.828002,27.1
29449,Owner,0,0,2,BHK,927.079009,1,1,"Sholinganallur,Chennai",12.900150,80.227910,67.0
29450,Dealer,0,1,2,BHK,896.774194,1,1,"Jagatpura,Jaipur",26.832353,75.841749,27.8

In [4]:
data1.describe()

,UNDER_CONSTRUCTION,RERA,BHK_NO.,SQUARE_FT,READY_TO_MOVE,RESALE,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
count,29451.000000,29451.000000,29451.000000,2.945100e+04,29451.000000,29451.000000,29451.000000,29451.000000,29451.000000
mean,0.179756,0.317918,2.392279,1.980217e+04,0.820244,0.929578,21.300255,76.837695,142.898746
std,0.383991,0.465675,0.879091,1.901335e+06,0.383991,0.255861,6.205306,10.557747,656.880713
min,0.000000,0.000000,1.000000,3.000000e+00,0.000000,0.000000,-37.713008,-121.761248,0.250000
25%,0.000000,0.000000,2.000000,9.000211e+02,1.000000,1.000000,18.452663,73.798100,38.000000
50%,0.000000,0.000000,2.000000,1.175057e+03,1.000000,1.000000,20.750000,77.324137,62.000000
75%,0.000000,1.000000,3.000000,1.550688e+03,1.000000,1.000000,26.900926,77.828740,100.000000
max,1.000000,1.000000,20.000000,2.545455e+08,1.000000,1.000000,59.912884,152.962676,30000.000000

In [5]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29451 entries, 0 to 29450
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   POSTED_BY              29451 non-null  object
 1   UNDER_CONSTRUCTION     29451 non-null  int64
 2   RERA                   29451 non-null  int64
 3   BHK_NO.                29451 non-null  int64
 4   BHK_OR_RK              29451 non-null  object
 5   SQUARE_FT              29451 non-null  float64
 6   READY_TO_MOVE          29451 non-null  int64
 7   RESALE                 29451 non-null  int64
 8   ADDRESS                29451 non-null  object
 9   LONGITUDE              29451 non-null  float64
 10  LATITUDE               29451 non-null  float64
 11  TARGET(PRICE_IN_LACS)  29451 non-null  float64
dtypes: float64(4), int64(5), object(3)
memory usage: 2.7+ MB

#### Q1) Find the oweners and buiders whose target price balow 60 lacs but they should aproved by RERA

In [6]:
data1["POSTED_BY"].unique()

array(['Owner', 'Dealer', 'Builder'], dtype=object)

In [7]:
data1.loc[((data1["POSTED_BY"]=="Owner")|(data1["POSTED_BY"]=="Builder"))&(data1["TARGET(PRICE_IN_LACS)"]<60)&(data1["RERA"]==1)]

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
7,Owner,0,1,3,BHK,1181.012946,1,1,"Kharar,Mohali",30.740000,76.650000,52.0
9,Owner,0,1,2,BHK,879.120879,1,1,"Chromepet,Chennai",12.951610,80.140970,36.0
48,Builder,1,1,1,BHK,301.917116,0,0,"Taloja,Lalitpur",24.690280,78.418890,26.3
100,Owner,1,1,2,BHK,989.902989,0,1,"Sector-143 Noida,Noida",28.503500,77.426447,50.0
122,Owner,1,1,2,BHK,1109.165207,0,1,"Katapady,Udupi",13.278237,74.747328,38.0
...,...,...,...,...,...,...,...,...,...,...,...,...
29407,Owner,0,1,3,BHK,1463.679075,1,1,"Manjalpur,Vadodara",22.271214,73.188827,40.5
29416,Owner,0,1,1,BHK,550.055005,1,1,"Jainpur,Meerut",28.939024,77.689176,10.0
29429,Builder,0,1,2,BHK,974.930362,1,0,"Godhani,Lalitpur",24.166621,78.140498,21.0
29438,Builder,1,1,3,BHK,1560.000000,0,0,"Van Vrindavan Colony,Ranchi",19.075483,82.029995,54.6
29440,Builder,0,1,3,BHK,1652.634861,1,0,"Gandhi Nagar,Gulbarga",17.357159,76.841908,53.0

#### Q2)Find the 2BHK owners but target price should 60-90 and that should be ready to move.

In [8]:
data1.loc[(data1["BHK_NO."]==2)&(data1["BHK_OR_RK"]=="BHK")&(data1["POSTED_BY"]=="Owner")&((data1["TARGET(PRICE_IN_LACS)"]>=60)&(data1["TARGET(PRICE_IN_LACS)"]<90))&(data1["READY_TO_MOVE"]==1)]

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
3,Owner,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5
13,Owner,0,1,2,BHK,1122.171946,1,1,"Sector-119 Noida,Noida",28.587711,77.403123,62.0
56,Owner,0,0,2,BHK,950.014616,1,1,"Nandanwan Phases 2,Aurangabad",19.888790,75.343440,65.0
68,Owner,0,0,2,BHK,5000.000000,1,1,"Malviya Nagar,Jaipur",26.850391,75.814198,85.0
71,Owner,0,0,2,BHK,760.070940,1,1,"Tilakwadi,Belgaum",15.866670,74.500000,60.0
...,...,...,...,...,...,...,...,...,...,...,...,...
29195,Owner,0,0,2,BHK,800.000000,1,1,"Virugambakkam,Chennai",13.046300,80.191300,75.0
29310,Owner,0,0,2,BHK,1345.390384,1,1,"Sadarpur,Ghaziabad",28.709030,77.495662,61.0
29338,Owner,0,0,2,BHK,1216.022890,1,1,"Malviya Nagar,Jaipur",26.850391,75.814198,85.0
29359,Owner,0,0,2,BHK,1423.324151,1,1,"Mico Layout,Bangalore",12.911464,77.604916,62.0
29449,Owner,0,0,2,BHK,927.079009,1,1,"Sholinganallur,Chennai",12.900150,80.227910,67.0

#### Q3)Find the owners whose flates under construction but this flates approved by RERA, show the target price.

In [9]:
data1.loc[(data1["POSTED_BY"]=="Owner")&(data1["UNDER_CONSTRUCTION"]==1)&(data1["RERA"]==1),["POSTED_BY","TARGET(PRICE_IN_LACS)"]]

      POSTED_BY  TARGET(PRICE_IN_LACS)
100       Owner                   50.0
122       Owner                   38.0
161       Owner                  250.0
684       Owner                   41.0
888       Owner                   69.3
...         ...                    ...
29202     Owner                   19.9
29322     Owner                   46.0
29326     Owner                   78.0
29360     Owner                   37.0
29436     Owner                   62.0

[286 rows x 2 columns]

#### 4)Find owners and dealers whose flate size below 900 sq.feet and increase the target price upto 5 lacs

In [10]:
a=data1.loc[((data1["POSTED_BY"]=="Owner")|(data1["POSTED_BY"]=="Dealer"))&(data1["SQUARE_FT"]<900)&(data1["TARGET(PRICE_IN_LACS)"]<5)]

#### 5)Find the dealer those are having RERA approved and if that the size of 2BHK then decrease by 2 lacs and above the 2BHK then increase the target price upto 7 lacs

In [11]:
b=data1.loc[(data1["POSTED_BY"]=="Dealer")&(data1["RERA"]==1)]
b

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
8,Dealer,0,1,2,BHK,1040.000000,1,1,"Bileshivale,Bangalore",13.054202,77.674002,41.6
15,Dealer,1,1,3,BHK,1394.117647,0,1,"Sector-150 Noida,Noida",28.429614,77.481711,71.1
17,Dealer,1,1,3,BHK,2124.896706,0,1,"Konanakunte,Bangalore",12.885500,77.563800,180.0
19,Dealer,0,1,3,BHK,2178.649237,1,1,"Kogilu,Bangalore",13.092356,77.613468,120.0
22,Dealer,0,1,3,BHK,1310.147689,1,1,"Sector-134 Noida,Noida",28.504100,77.381557,55.0
...,...,...,...,...,...,...,...,...,...,...,...,...
29435,Dealer,0,1,4,BHK,2189.160468,1,1,"Zirakpur,Chandigarh",30.662283,76.822397,82.4
29439,Dealer,1,1,2,BHK,975.609756,0,1,"Laxmi Nagar,Lalitpur",22.281215,70.789479,120.0
29443,Dealer,0,1,3,BHK,1161.194975,1,1,"Marol,Maharashtra",19.111438,72.878724,220.0
29444,Dealer,1,1,1,BHK,752.049334,0,1,"Mulund (West),Mumbai",19.175900,72.952200,100.0
29450,Dealer,0,1,2,BHK,896.774194,1,1,"Jagatpura,Jaipur",26.832353,75.841749,27.8

#### 5)Find the dealer those are having RERA approved and if that the size of 2BHK then decrease by 2 lacs and above the 2BHK then increase the target price upto 7 lacs

In [12]:
new_target=[]
for i in range(len(b)):
    if b.iloc[i,3]==2:
        new_target.append((b.iloc[i,11]-2))
    elif b.iloc[i,3]<2:
        new_target.append((b.iloc[i,11]))
    else:
        new_target.append((b.iloc[i,11]+7))

In [13]:
b["new_target"]=new_target

C:\Users\Parimal\AppData\Local\Temp/ipykernel_22604/2175052837.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b["new_target"]=new_target

In [14]:
b

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS),new_target
8,Dealer,0,1,2,BHK,1040.000000,1,1,"Bileshivale,Bangalore",13.054202,77.674002,41.6,39.6
15,Dealer,1,1,3,BHK,1394.117647,0,1,"Sector-150 Noida,Noida",28.429614,77.481711,71.1,78.1
17,Dealer,1,1,3,BHK,2124.896706,0,1,"Konanakunte,Bangalore",12.885500,77.563800,180.0,187.0
19,Dealer,0,1,3,BHK,2178.649237,1,1,"Kogilu,Bangalore",13.092356,77.613468,120.0,127.0
22,Dealer,0,1,3,BHK,1310.147689,1,1,"Sector-134 Noida,Noida",28.504100,77.381557,55.0,62.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29435,Dealer,0,1,4,BHK,2189.160468,1,1,"Zirakpur,Chandigarh",30.662283,76.822397,82.4,89.4
29439,Dealer,1,1,2,BHK,975.609756,0,1,"Laxmi Nagar,Lalitpur",22.281215,70.789479,120.0,118.0
29443,Dealer,0,1,3,BHK,1161.194975,1,1,"Marol,Maharashtra",19.111438,72.878724,220.0,227.0
29444,Dealer,1,1,1,BHK,752.049334,0,1,"Mulund (West),Mumbai",19.175900,72.952200,100.0,100.0
29450,Dealer,0,1,2,BHK,896.774194,1,1,"Jagatpura,Jaipur",26.832353,75.841749,27.8,25.8