## Name: Raviraj Wagh

# Working with "Brain Stroke" Dataset

In [2]:
import numpy as np
import pandas as pd

In [3]:
data=pd.read_csv(r"C:\Users\Parimal\Downloads\Brain Stroke.csv")
data

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
4976,Male,41.0,0,0,No,Private,Rural,70.15,29.8,formerly smoked,0
4977,Male,40.0,0,0,Yes,Private,Urban,191.15,31.1,smokes,0
4978,Female,45.0,1,0,Yes,Govt_job,Rural,95.02,31.8,smokes,0
4979,Male,40.0,0,0,Yes,Private,Rural,83.94,30.0,smokes,0
4980,Female,80.0,1,0,Yes,Private,Urban,83.75,29.1,never smoked,0

In [4]:
print(data["age"].min())
print(data["age"].max())

0.08
82.0

#### Q1) Find the male and female those age are below 50 and they are working as self employed and govt job

In [5]:
a=data.loc[(data["age"]<=50)&(((data["work_type"]=="Self-employed")|(data["work_type"]=="Govt_job")))]
a

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
12,Female,50.0,1,0,Yes,Self-employed,Rural,167.41,30.9,never smoked,1
28,Male,48.0,0,0,No,Govt_job,Urban,84.20,29.7,never smoked,1
64,Male,43.0,0,0,Yes,Self-employed,Urban,143.43,45.9,Unknown,1
98,Female,38.0,0,0,No,Self-employed,Urban,82.28,24.0,formerly smoked,1
188,Female,39.0,0,0,Yes,Self-employed,Urban,97.76,29.6,smokes,1
...,...,...,...,...,...,...,...,...,...,...,...
4940,Female,41.0,0,0,Yes,Self-employed,Rural,76.66,30.0,Unknown,0
4949,Female,37.0,0,0,No,Govt_job,Rural,72.08,29.6,formerly smoked,0
4950,Male,32.0,1,0,No,Govt_job,Urban,58.24,31.1,formerly smoked,0
4963,Female,20.0,0,0,No,Govt_job,Rural,79.53,26.5,never smoked,0
4978,Female,45.0,1,0,Yes,Govt_job,Rural,95.02,31.8,smokes,0

In [6]:
a.count()

gender               535
age                  535
hypertension         535
heart_disease        535
ever_married         535
work_type            535
Residence_type       535
avg_glucose_level    535
bmi                  535
smoking_status       535
stroke               535
dtype: int64

#### Q2) Find the Females those are facing heart disease and those BMI are between 20-35

In [7]:
b=data.loc[((data["gender"]=="Female")&(data["heart_disease"]==1)&((data["bmi"]>=25)&(data["bmi"]<=35)))]
b

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
11,Female,79.0,0,1,Yes,Private,Urban,214.09,28.2,never smoked,1
29,Female,82.0,1,1,No,Private,Rural,84.03,26.5,formerly smoked,1
42,Female,79.0,0,1,Yes,Private,Rural,127.29,27.7,never smoked,1
70,Female,70.0,0,1,Yes,Private,Rural,59.35,32.3,formerly smoked,1
73,Female,79.0,0,1,Yes,Private,Urban,226.98,29.8,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
4955,Female,69.0,0,1,Yes,Private,Urban,207.60,31.2,never smoked,0
4966,Female,65.0,0,1,Yes,Private,Rural,57.52,29.4,formerly smoked,0
4968,Female,78.0,1,1,Yes,Private,Rural,206.53,31.2,never smoked,0
4969,Female,70.0,0,1,Yes,Self-employed,Rural,65.68,28.6,Unknown,0
4970,Female,70.0,0,1,Yes,Self-employed,Urban,240.69,30.9,smokes,0

In [8]:
b.count()

gender               71
age                  71
hypertension         71
heart_disease        71
ever_married         71
work_type            71
Residence_type       71
avg_glucose_level    71
bmi                  71
smoking_status       71
stroke               71
dtype: int64

#### Q3) Create new colomn of given categories

In [9]:
abc=[]
for x in data["age"]:
    if x<=15:
        abc.append("kid")
    elif x>15 and x<=30:
        abc.append("teenage")
    elif x>30 and x<=50:
        abc.append("adult")
    else:
        abc.append("old_age")

In [10]:
data.insert(2,"age_group",abc)

In [11]:
data

,gender,age,age_group,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,old_age,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,80.0,old_age,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,Female,49.0,adult,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,Female,79.0,old_age,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,Male,81.0,old_age,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
4976,Male,41.0,adult,0,0,No,Private,Rural,70.15,29.8,formerly smoked,0
4977,Male,40.0,adult,0,0,Yes,Private,Urban,191.15,31.1,smokes,0
4978,Female,45.0,adult,1,0,Yes,Govt_job,Rural,95.02,31.8,smokes,0
4979,Male,40.0,adult,0,0,Yes,Private,Rural,83.94,30.0,smokes,0
4980,Female,80.0,old_age,1,0,Yes,Private,Urban,83.75,29.1,never smoked,0

#### Q4) Find old_age peaple those smoking continueous and average glucose level  above 150

In [12]:
data["smoking_status"].unique()

array(['formerly smoked', 'never smoked', 'smokes', 'Unknown'],
      dtype=object)

In [13]:
d=data.loc[(data["age_group"]=="old_age")&(data["smoking_status"]=="smokes")&(data["avg_glucose_level"]>150)]
d

,gender,age,age_group,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
13,Male,64.0,old_age,0,1,Yes,Private,Urban,191.61,37.5,smokes,1
14,Male,75.0,old_age,1,0,Yes,Private,Urban,221.29,25.8,smokes,1
16,Female,71.0,old_age,0,0,Yes,Govt_job,Rural,193.94,22.4,smokes,1
23,Male,69.0,old_age,0,1,Yes,Self-employed,Urban,195.23,28.3,smokes,1
24,Male,57.0,old_age,1,0,Yes,Private,Urban,212.08,44.2,smokes,1
...,...,...,...,...,...,...,...,...,...,...,...,...
4898,Male,78.0,old_age,0,1,Yes,Self-employed,Urban,243.73,28.0,smokes,0
4912,Male,75.0,old_age,1,0,Yes,Private,Rural,198.79,31.8,smokes,0
4951,Female,79.0,old_age,0,0,Yes,Private,Rural,208.05,29.8,smokes,0
4970,Female,70.0,old_age,0,1,Yes,Self-employed,Urban,240.69,30.9,smokes,0
4972,Male,72.0,old_age,0,1,Yes,Private,Rural,238.27,30.7,smokes,0

In [14]:
d.count()

gender               75
age                  75
age_group            75
hypertension         75
heart_disease        75
ever_married         75
work_type            75
Residence_type       75
avg_glucose_level    75
bmi                  75
smoking_status       75
stroke               75
dtype: int64

#### Q5) Find the Adult and oldage Female those are working in private company and are from urban area

In [99]:
e=data.loc[((data["age_group"]=="adult")|(data["age_group"]=="old_age"))&(data["gender"]=="Female")&(data["work_type"]=="Private")&(data["Residence_type"]=="Urban")]
e

,gender,age,age_group,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
2,Female,49.0,adult,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
6,Female,69.0,old_age,0,0,No,Private,Urban,94.39,22.8,never smoked,1
7,Female,78.0,old_age,0,0,Yes,Private,Urban,58.57,24.2,Unknown,1
10,Female,54.0,old_age,0,0,Yes,Private,Urban,104.51,27.3,smokes,1
11,Female,79.0,old_age,0,1,Yes,Private,Urban,214.09,28.2,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
4936,Female,33.0,adult,0,0,No,Private,Urban,84.40,29.7,smokes,0
4944,Female,45.0,adult,0,0,Yes,Private,Urban,202.66,31.9,never smoked,0
4955,Female,69.0,old_age,0,1,Yes,Private,Urban,207.60,31.2,never smoked,0
4957,Female,82.0,old_age,1,0,Yes,Private,Urban,222.52,31.8,formerly smoked,0
4980,Female,80.0,old_age,1,0,Yes,Private,Urban,83.75,29.1,never smoked,0

#### Q6)  Find self employed peaples those are never smoked but have brain strock problem with glucose 0-75, 75-150, 150-above
#### a) 0-75

In [114]:
f=data.loc[(data["work_type"]=="Self-employed")&(data["smoking_status"]=="never smoked")&(data["stroke"]==1)&(data["avg_glucose_level"]<75)]
f

,gender,age,age_group,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
56,Female,80.0,old_age,1,0,Yes,Self-employed,Rural,72.67,28.9,never smoked,1
75,Female,57.0,old_age,0,0,No,Self-employed,Urban,68.02,37.5,never smoked,1
119,Female,69.0,old_age,1,1,No,Self-employed,Urban,72.17,36.8,never smoked,1
133,Female,81.0,old_age,1,0,Yes,Self-employed,Rural,74.02,25.0,never smoked,1
162,Female,74.0,old_age,0,0,Yes,Self-employed,Urban,74.96,26.6,never smoked,1
192,Female,73.0,old_age,0,0,Yes,Self-employed,Urban,70.94,34.4,never smoked,1
4810,Female,79.0,old_age,1,1,No,Self-employed,Rural,60.94,28.8,never smoked,1
4818,Male,74.0,old_age,0,0,Yes,Self-employed,Rural,60.98,28.1,never smoked,1

#### Q6)
#### b) 75-150

In [115]:
g=data.loc[(data["work_type"]=="Self-employed")&(data["smoking_status"]=="never smoked")&(data["stroke"]==1)&((data["avg_glucose_level"]>=75)&(data["avg_glucose_level"]<150))]
g

,gender,age,age_group,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
21,Male,80.0,old_age,0,0,Yes,Self-employed,Rural,104.12,23.5,never smoked,1
40,Male,81.0,old_age,0,0,Yes,Self-employed,Urban,99.33,33.7,never smoked,1
43,Female,77.0,old_age,1,0,Yes,Self-employed,Urban,124.13,31.4,never smoked,1
67,Female,68.0,old_age,1,0,No,Self-employed,Urban,79.79,29.7,never smoked,1
126,Female,80.0,old_age,0,0,Yes,Self-employed,Urban,76.57,34.1,never smoked,1
128,Female,55.0,old_age,0,0,Yes,Self-employed,Rural,92.98,25.6,never smoked,1
139,Male,81.0,old_age,0,0,Yes,Self-employed,Rural,91.54,31.4,never smoked,1
164,Female,77.0,old_age,0,0,Yes,Self-employed,Rural,90.00,32.0,never smoked,1
165,Female,78.0,old_age,0,0,Yes,Self-employed,Rural,109.47,30.8,never smoked,1
169,Male,78.0,old_age,0,0,No,Self-employed,Urban,90.19,26.9,never smoked,1
176,Female,81.0,old_age,0,0,Yes,Self-employed,Urban,95.84,21.5,never smoked,1
178,Male,78.0,old_age,0,0,Yes,Self-employed,Urban,116.10,27.1,never smoked,1
190,Female,81.0,old_age,0,0,Yes,Self-employed,Rural,81.95,16.9,never smoked,1

#### Q6)
#### c) 150-above

In [118]:
h=data.loc[(data["work_type"]=="Self-employed")&(data["smoking_status"]=="never smoked")&(data["stroke"]==1)&(data["avg_glucose_level"]>=150)]
h

,gender,age,age_group,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
3,Female,79.0,old_age,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
12,Female,50.0,adult,1,0,Yes,Self-employed,Rural,167.41,30.9,never smoked,1
17,Female,52.0,old_age,1,0,Yes,Self-employed,Urban,233.29,48.9,never smoked,1
18,Female,79.0,old_age,0,0,Yes,Self-employed,Urban,228.70,26.6,never smoked,1
26,Female,82.0,old_age,1,0,Yes,Self-employed,Urban,196.92,22.2,never smoked,1
46,Male,73.0,old_age,1,0,Yes,Self-employed,Urban,194.99,32.8,never smoked,1
110,Female,68.0,old_age,1,0,Yes,Self-employed,Rural,206.09,26.7,never smoked,1
142,Male,72.0,old_age,1,0,Yes,Self-employed,Rural,185.49,37.1,never smoked,1
4780,Female,61.0,old_age,0,0,Yes,Self-employed,Rural,202.21,31.6,never smoked,1

#### 7) Find those age category having brain strock problem

In [119]:
i=data.loc[(data["stroke"]==1),"age_group"]
i

0       old_age
1       old_age
2         adult
3       old_age
4       old_age
         ...
4815    old_age
4816    old_age
4817    old_age
4818    old_age
4819    old_age
Name: age_group, Length: 248, dtype: object

In [123]:
i.unique()

array(['old_age', 'adult', 'kid'], dtype=object)

In [140]:
i.value_counts()

old_age    226
adult       20
kid          2
Name: age_group, dtype: int64

In [134]:
i.count()

248